/* avatar and name */

header#user-profile {
  border-bottom: solid rgb(255, 231, 196);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-style: italic;
  background-image: url("https://wallpaperaccess.com/full/57200.jpg");
  margin-top: 120px;
  /* position: relative;
  top: 120px; */
  margin-top: 120px;
  /* background-repeat: no-repeat; */
  animation: animatedBackground 16s linear infinite alternate;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
#animate-area {
  width: 200px;
  height: 200px;
  background-image: url(http://placekitten.com/400/200);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 10s linear infinite alternate;
}

h2.profile-name {
  font-family: "Coiny", sans-serif;
  margin: 0.5em;
  padding: 0em;
  border: 0em;
}