/*-----Profile Header-----*/
header#user-profile {
  border-bottom: solid rgb(255, 231, 196);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-style: italic;
  background-image: url("https://wallpaperaccess.com/full/57200.jpg");
  margin-top: 120px;
  animation: animatedBackground 18s linear infinite alternate;
}

/*-----Responsive Screen for Profile Header-----*/
@media only screen and (max-width: 319px) {
  .nav-container {
    display: none;
  }
  header#user-profile {
    margin-top: 0px;
  }
  form#submitTweet {
    font-size: 14px;
  }
  div.main-tweet-container {
    font-size: 14px;
  }
  div.userhandler {
    font-size: 12px;
  }
  text.new-tweet-text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
  .nav-container {
    font-size: 20px;
    padding-right: 0.75em;
    padding-left: 0.75em;
    height: 100px;
  }
  span#nav-tweet {
    font-size: 12px;
  }
  header#user-profile {
    margin-top: 100px;
    animation: animatedBackground 20s linear infinite alternate;
  }
  form#submitTweet {
    font-size: 20px;
  }
  div.main-tweet-container {
    font-size: 17px;
  }
  div.userhandler {
    font-size: 13px;
  }
  text.new-tweet-text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 600px) {
  .nav-container {
    font-size: 25px;
    padding-right: 0.75em;
    padding-left: 0.75em;
    height: 100px;
  }
  span#nav-tweet {
    font-size: 14px;
  }
  header#user-profile {
    margin-top: 100px;
    animation: animatedBackground 20s linear infinite alternate;
  }
  text.new-tweet-text {
    font-size: 22px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  header.specific-user#user-profile {
    height: 400;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header.specific-user#user-profile {
    height: 400;
    margin-top: 110px;
  }
}

@media only screen and (min-width: 1025px) {
  header#user-profile.specific-user {
    width: 50%;
    background-image: none;
    border-bottom: none;
    padding-top: 100px;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

h2.profile-name {
  font-family: "Coiny", sans-serif;
  margin: 0.5em;
  padding: 0em;
  border: 0em;
}