/*-----Nav Bar-----*/
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  width: 100%;
  background-color: #ffb777;
  color: #FFFFFF;
  font-size: 45px;
  font-family: "Bungee", sans-serif;
  padding-right: 1.05em;
  padding-left: 1.05em;
  padding-bottom: 0.5em;
  z-index: 999;
  position: fixed;
  top: 0;
}

#nav-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fas.fa-angle-double-down {
  color: greenyellow;
  font-size: 28px;
  animation: updown 2s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-18%);
  }
  50% {
    transform: translateY(18%);
  }
  100% {
    transform: translateY(-18%);
  }
}

#nav-tweet {
  font-family: "Lemon";
  font-size: 24px;
}



/*-----Responsive Screen for Nav Bar-----*/
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .nav-container {
    font-size: 28px;
    padding-right: 0.75em;
    padding-left: 0.75em;
    height: 100px;
  }
  span#nav-tweet {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-container {
    font-size: 36px;
    padding-right: 0.75em;
    padding-left: 0.75em;
    height: 110px;
  }
  span#nav-tweet {
    font-size: 20px;
  }
}

